.fill {
  height: 100%;
  background: url(../images.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}

.map-canvas {
	height: 300px;
	width: 300px;
}
