
  <ol>


<h1>Welcome <% if current_user %><a href="/users/<%= current_user.name%>"><%= current_user.name %></a><%end%></h1>


<div id="googleMap" style="width:500px;height:380px;"></div>

</ol>

  </div>
