<div class="container-fluid">
  <div class"container-fluid" class="col-sm-6"><h1>Sign Up</h1></div>

     <%= display_error %>
     <form class="form-horizontal" role="form" id="sign-in" method="post" action="/sessions">
   <div class="form-group" >
    <label for="Name" class="col-sm-8 control-label">Name</label>
    <div class="col-sm-3 class="well">
      <input type="name" class="form-control" id="inputPassword3" placeholder="Name">
    </div>
  </div>
   <div class="form-group">
    <label for="username" class="col-sm-8 control-label">Username</label>
    <div class="col-sm-3">
      <input type="username" class="form-control" id="inputPassword3" placeholder="username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-8 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-8 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-8">
      <button type="submit" class="btn btn-default">Sign Up</button>
    </div>
  </div>
</form>


</div>

